$container: 1100px;
$bgcolor: #191f28;
$blue: rgb(43, 155, 235);
$green: rgb(0, 170, 170);
$grey: rgb(62, 86, 108);
$brown: rgb(86, 85, 87);
$darkgrey: #333d4b;

@mixin card-commnet-list {
  padding: 16px 20px;
  width: 13.5rem;
  border-radius: 8px;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
  @media screen and (max-width: 960px) {
    width: 20em;
  }
  @media screen and (max-width: 640px) {
    width: 580px;
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  > div {
    display: flex;
    align-items: center;
  }
  img {
    width: 24px;
    display: flex;
  }
  label {
    opacity: 0.5;
    font-size: 13px;
    font-weight: bold;
    padding: 0 0 0 0.5rem;
  }
  p {
    padding: 0.5rem 0 0 0;
  }
}

.content_container {
  padding: 30px 0 80px 30px;
  @media only screen and (max-width: 960px) {
    padding-left: 0;
  }

  // height: 100vh;
  // position: relative;
}

.card_container {
  ul {
    padding: 30px 0 30px 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 1100px;
    gap: 1.2em;
    @media only screen and (max-width: 960px) {
      display: inline-block;
    }
    @media screen and (max-width: 640px) {
      padding: 30px 0 30px 0;
    }

    li {
      list-style: none;
      @media only screen and (max-width: 960px) {
        margin-bottom: 1em;
      }

      // margin: 0 0 1.5em 0;
    }
  }
}

.blue_card {
  @include card-commnet-list();
  background-color: $blue;
}
.green_card {
  @include card-commnet-list();
  background-color: $green;
}
.grey_card {
  @include card-commnet-list();
  background-color: $grey;
}
.brown_card {
  @include card-commnet-list();
  background-color: $brown;
}
