.sidebar_container {
  width: 370px;
  margin: 0 15px 0 0;
  padding: 60px 0 80px 0;
  > h1 {
    font-size: 42px;
    height: 167px;
  }
}

.input_comment {
  padding: 16px 20px;
  background-color: white;
  border-radius: 8px;
  input {
    width: 100%;
    border: none;
    font-size: 17px;
    margin: 0 0 3rem 0;
    &::placeholder {
      color: rgb(191, 191, 191);
    }
  }
  :nth-child(2) {
    display: flex;
    justify-content: flex-end;
    button {
      padding: 14px 18px;
      font-weight: bold;
      background-color: #3182f6;
      color: white;
      border: none;
      border-radius: 8px;
    }
  }
}

.top_20 {
  background-color: #333d4b;
  border-radius: 8px;
  padding: 20px 20px;
  margin: 1.5rem 0 0 0;
  h3 {
    padding: 0 0 1rem 0;
  }
  span {
    color: #4593fc;
  }
}
