@mixin Menu4Responsive {
  @media screen and (max-width: 960px) {
    width: 768px;
    padding: 2em 3em 0 30px;

    .sidebar_menu_4 {
      width: 768px;
      margin: 0;
    }
  }
  @media screen and (max-width: 640px) {
    width: 580px;
    padding: 2em 3em 0 0;
    .sidebar_menu_4 {
      width: 580px;
      margin: 0;
    }
  }
}
