$container: 1100px;
$bgcolor: #191f28;
$blue: rgb(43, 155, 235);
$green: rgb(0, 170, 170);
$grey: rgb(62, 86, 108);
$brown: rgb(86, 85, 87);
$darkgrey: #333d4b;

.menu_4_container {
  width: $container;
  margin: auto;
  padding: 58px 50px 0 30px;
  //   display: flex;
  .sidebar_menu_4 {
    width: 480px;
    padding: 60px 0 80px 0;
    margin: 0 15px 0 0;
    h1 {
      font-size: 48px;
      font-weight: bold;
      padding: 0 0 2rem 0;
    }
    .rubberBand {
      animation-name: rubberBand;
      animation-duration: 1s;
      animation-fill-mode: both;
    }
    @keyframes rubberBand {
      0% {
        transform: scale3d(1, 1, 1);
      }
      30% {
        transform: scale3d(1.25, 0.75, 1);
      }
      40% {
        transform: scale3d(0.75, 1.25, 1);
      }
      50% {
        transform: scale3d(1.15, 0.85, 1);
      }
      65% {
        transform: scale3d(0.95, 1.05, 1);
      }
      75% {
        transform: scale3d(1.05, 0.95, 1);
      }
      100% {
        transform: scale3d(1, 1, 1);
      }
    }
    × p {
      font-size: 17px;
      //   font-weight: bold;
      padding: 0 0 1.5rem 0;
    }
    a {
      color: #3182f6;
    }
    h4 {
      padding: 0 0 1rem 0;
      font-size: 15px;
      color: rgb(209, 214, 219);
    }
    ul {
      padding: 0 0 3rem 1.2rem;
      li {
        font-size: 13px;
        padding: 0 0 0.5rem 0;
        color: rgb(139, 149, 161);
      }
    }
  }
}
