@mixin NavbarResponsive {
  @media screen and (max-width: 960px) {
    width: 768px;
    background-color: #191f28;

    ul {
      z-index: -1;
      transform: translateY(-120%);
      flex-direction: column;
      justify-content: space-evenly;
      position: absolute;
      top: 2.8em;
      left: 0;
      height: fit-content;
      width: 100%;
      background-color: #191f28;
      margin: 0;
      // border: solid 1px white;
      li {
        margin: 1em 0;
        padding: 0 0 0 0;
        font-size: 19px;
        a {
          padding: 0;
        }
      }
    }
    .menu_bar {
      display: block;
    }
    .active {
      transform: translateY(0%);
    }
  }
  @media screen and (max-width: 640px) {
    width: 640px;
  }
}
