$container: 1100px;
$bgcolor: #191f28;
$blue: rgb(43, 155, 235);
$green: rgb(0, 170, 170);
$grey: rgb(62, 86, 108);
$brown: rgb(86, 85, 87);
$darkgrey: #333d4b;

.navbar {
  width: 100%;
  height: 58px;
  background-color: $bgcolor;
  position: fixed;
  top: 0;
  z-index: 100;
  transition-timing-function: ease-in;

  &.active {
    box-shadow: 0 35px 35px 10px RGBA(25, 31, 40, 1);
  }
  .navbar_container {
    width: $container;
    height: 100%;
    margin: auto;
    padding: 0 50px 0 30px;
    display: flex;
    > :nth-child(1) {
      width: 370px;
      margin: 0 15px 0 0;
      display: flex;
      align-items: center;
      a {
        padding: 0.5rem 0;
      }
      img {
        width: 235px;
        height: 20px;
      }
    }
    > :nth-child(2) {
      width: 60%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      div {
        padding: 1rem 1rem 1rem 1rem;
      }
      a {
        color: white;
        text-decoration: none;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 14px;
      }
    }
  }
}
