@import "NavbarResponsive";

$container: 1100px;
$bgcolor: #191f28;
$blue: rgb(43, 155, 235);
$green: rgb(0, 170, 170);
$grey: rgb(62, 86, 108);
$brown: rgb(86, 85, 87);
$darkgrey: #333d4b;

.navbar {
  background-color: #191f28;
  width: 100%;
  height: 58px;
  background-color: $bgcolor;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 10;
  transition-timing-function: ease-in;

  &.active {
    box-shadow: 0 35px 35px 10px RGBA(25, 31, 40, 1);
  }

  .navbar_container {
    @include NavbarResponsive();
    width: $container;
    padding: 1.2em 50px 1.2em 30px;
    display: flex;
    justify-content: space-between;
    img {
      width: 15em;
    }
    ul {
      display: flex;
      li {
        list-style: none;
        padding: 0 0 0 2.4em;
        a {
          color: white;
          font-size: 15px;
          &:focus {
            font-weight: bold;
          }
        }
      }
    }
  }
  .menu_bar {
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    z-index: 11;
    display: none;
  }
}
