@mixin FooterResponsive {
  @media screen and (max-width: 960px) {
    width: 768px;
    .service_type {
      display: block;
      ul {
        padding-bottom: 2.5em;
      }
    }
    .footer_list {
      ul {
        display: inline-block;
        li {
          margin-bottom: 0.5em;
        }
      }
    }
  }
  @media screen and (max-width: 640px) {
    width: 640px;
  }
}
