.footer_container {
  width: 1100px;
  margin: auto;
  padding: 58px 50px 3rem 30px;
  min-height: 500px;
  > :nth-child(1) {
    display: flex;
    font-size: 14px;
    padding: 0 0 3rem 0;
    > div {
      padding: 0 4.5rem 0 0;
    }
    ul {
      p {
        padding: 0 0 1rem 0;
        color: #b0b8c1;
        // font-weight: bold;
      }
      li {
        padding: 0 0 0.5rem 0;
        list-style: none;
        color: #6b7684;
        // font-weight: bold;
      }
    }
  }
}

.footer_address {
  font-size: 14px;
  > :nth-child(1) {
    width: 50%;
  }
  p {
    padding: 2rem 0;
    font-size: 13px;
    font-weight: bold;
    color: #6b7684;
  }
}

.footer_list {
  ul {
    display: flex;
    padding: 0 0 2rem 0;
    gap: 30px;

    li {
      // padding: 0 2rem 0 0;
      list-style: none;
      color: #6b7684;
      font-size: 13px;
    }
    > :nth-child(4) {
      color: #b0b8c1;
    }
  }
}

.contact_link {
  img {
    margin: 0 0.7rem 0 0;
  }
}
