@import "./Menu2ForIpad";
$container: 1100px;
$bgcolor: #191f28;
$blue: rgb(43, 155, 235);
$green: rgb(0, 170, 170);
$grey: rgb(62, 86, 108);
$brown: rgb(86, 85, 87);
$darkgrey: #333d4b;

.menu_2_container {
  @include Menu2ForIpad();
  width: $container;
  margin: auto;
  padding: 58px 50px 0 30px;
  display: flex;
}
.sidebar_menu_2 {
  width: 370px;
  padding: 60px 0 80px 0;
  margin: 0 15px 0 0;
  h1 {
    font-size: 42px;
    padding: 0 0 18px 0;
  }
  p {
    font-size: 17px;
  }
  button {
    margin: 53px 0 0 0;
    padding: 14px 18px;
    background-color: #3182f6;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 15px;
  }
}
.content_menu_2 {
  width: 635px;
  padding: 60px 30px 80px 60px;
}

.card_comment {
  padding: 19px 20px;
  margin: 0 0 1.2rem 0;
  background-color: rgb(40, 47, 57);
  border-radius: 15px;
  display: flex;
  align-items: flex-start;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  > :nth-child(1) {
    display: flex;
  }
  p {
    font-weight: bold;
  }
  button {
    margin: 0 0 0 4em;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
  }
}
